//import firebase module
import firebase from "firebase";
import "firebase/firestore";

//firebase config data object
const config = {
  apiKey: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  authDomain: "XXXXXXXXXXXX.firebaseapp.com",
  databaseURL: "https://XXXXXXXXXXX.firebaseio.com",
  projectId: "XXXXXXXXXXXXXXXXXXXX",
  storageBucket: "XXXXXXXXXXXXXX.appspot.com",
  messagingSenderId: "XXXXXXXXXXXXXX",
  appId: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
};

//initialize firebase with configuration
firebase.initializeApp(config);

//instantiate firebase firestore
export const db = firebase.firestore();
//instantiate firebase storage
export const storage = firebase.storage();
//instantiate firebase firestore fotografs collection
export const imageCollection = db.collection("fotografs");
